click
colorama
cycler
Flask
gunicorn
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
pandas
Pillow
pyparsing
python-dateutil
pytz
scikit-learn==1.0.2
scipy
six
threadpoolctl
Werkzeug
